.Sidebar{
    width:100%;
}


.FolderList__list {
    width: 98%;
    margin: 10px auto;
}

.FolderList__folder-item{
   border:1px solid #000;
   margin:2px 0px;
   text-transform: uppercase;
}

.FolderList__list  a{
    color:#000;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    height: 100%;
    padding: 1em;
}

.FolderList__list  a.active li{
    background-color: black;
    color: #fff;
}

.Sidebar__button{
    width:80%;
}

