.add-folder-form {
    margin-top: 35px;
}

h2{
    margin-block-start: 15px;
    margin-block-end: 15px;
}

.form__button{
    width:150px;
    margin:15px 10px;
    padding: 10px;
    color:#fff;
    background-color:#000;
}

input[type=text] {
    width: 350px;
    font-size: 17px;
}

label {
    margin-right: 10px;
}

button[type=reset] {
    width: 80px;
    padding: 10px 5px;
    color:#000;
    background-color:#fff;
}

.form__button:disabled {
    color: darkgray;
    background-color: lightgray;
}

.error {
    margin-top: 10px;
    margin-left: 40px;
    color: purple;
}