.App {
  text-align: center; 
  margin:auto 1em; 
}

main{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-top:1em;
}

header {
  background-color: lightgray;
  padding: 1em 0;
}

header a {
  text-decoration: none;
  color: #000;
}
